# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Serverless build artifacts
.aws-sam/
package/
*.zip
